
* {
  box-sizing: border-box;
}

.board {
  background: #a0e;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  grid-template-rows:    repeat(auto-fill, minmax(250px, 300px));
}

header {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}

/* CSS Button */

*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
  border-width: 0;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
